div{
    width: 400px;
    height: 350px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    overflow: scroll;
}
button{
    height: 40px;
    width: 100px;
    margin-top: 49px;
    margin: 0 auto;
    display: block;
}
